.headerBar {
	background-color: #eaeaea;
	width: 100%;
}

.headerBar .headerWrapper {
	display: flex;
	align-items: center;
	padding: 0 5rem;
	gap: 30rem;
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
}

.headerBar .navBar {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5rem;
}

.headerBar .menuItem {
	transition: all 0.2s ease;
	position: relative;
	font-weight: bold;
	font-size: 20px;
	cursor: pointer;
	color: black;
}

.headerBar .menuItem:hover {
	color: #7fb640;
}

.headerBar .menuItem::before {
	content: '';
	border-bottom: solid 4px #7fb640;
	position: absolute;
	bottom: -30%;
	left: 0;
	width: 0;
	transition: all 0.2s ease;
}

.headerBar .menuItem:hover::before {
	width: 100%;
}

.headerBar .activeMenuItem {
	color: #7fb640;
	position: relative;
	font-weight: bold;
	font-size: 20px;
}

.headerBar .activeMenuItem::before {
	content: '';
	width: 100%;
	border-bottom: solid 4px #7fb640;
	position: absolute;
	bottom: -30%;
	left: 0;
}
