/* -------------------------------- Banner section -------------------------------- */
.banner {
	width: 100%;
	height: 60rem;
	position: relative;
	background-image: url('../../assets/images/banner-landing-page.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.banner::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(30, 30, 30, 0.6);
}

.banner .titleBanner {
	width: 60%;
	font-size: 4rem;
	text-align: center;
	font-weight: bold;
	color: #f5f5f5;
	z-index: 1;
}

/* -------------------------------- Service package section -------------------------------- */
.servicePackage {
	margin: 8rem auto;
	padding: 0 5rem;
	max-width: 1400px;
}

.servicePackage .servicePackageTitleWrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.servicePackage .servicePackageTitleWrapper .servicePackageTitle {
	font-size: 3rem;
	font-weight: bold;
	color: #7fb640;
	padding: 1rem 0;
}

.servicePackage .servicePackageTitleWrapper .servicePackageSubTitle {
	font-size: 1rem;
	width: 60%;
	color: #707070;
}

.servicePackage .serviceContainer {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin-top: 10rem;
}

.servicePackage .serviceContainer .serviceItemWrapper {
	width: 15rem;
	padding: 2rem 0.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2rem;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	border-radius: 12px;
}

.servicePackage .serviceContainer .serviceItemWrapper:hover {
	box-shadow: rgba(127, 182, 64, 0.5) 0px 5px 15px;
}

.serviceItemWrapper .serviceIcon {
	font-size: 5rem;
}

.serviceItemWrapper .serviceTitle {
	font-size: 1.5rem;
	width: 80%;
	text-align: center;
}
/* -------------------------------- Procedure section -------------------------------- */

.serviceItemWrapper .procedureImg {
	width: 90%;
	margin-top: -1rem;
	object-fit: cover;
	object-position: center;
	border-radius: 12px;
}
.serviceItemWrapper .procedureBtn {
	width: 80%;
	margin-top: 2rem;
	font-weight: bold;
	padding: 1.25rem 0.5rem;
	border: none;
	outline: none;
}

/* -------------------------------- Sub banner section -------------------------------- */
.subBanner {
	width: 100%;
	height: 45rem;
	position: relative;
	background-image: url('../../assets/images/sub-banner.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.subBanner::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(30, 30, 30, 0.6);
}

/* -------------------------------- Rating section -------------------------------- */
.ratingContainer {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin-top: 10rem;
	gap: 0.5rem;
}

.ratingContainer .ratingItemWrapper {
	width: 26%;
	margin-bottom: 1rem;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	border-radius: 16px;
}

.ratingContainer .ratingItemWrapper:hover {
	box-shadow: rgba(127, 182, 64, 0.5) 0px 5px 15px;
}

.ratingContainer .ratingItemWrapper .ratingItemHeader {
	width: 100%;
	display: flex;
	gap: 1rem;
	align-items: center;
}

.ratingContainer .ratingItemWrapper .ratingItemHeader > div > p {
	font-size: 1.25rem;
	font-weight: bold;
}

.ratingContainer .ratingItemWrapper > p {
	color: #707070;
}

/* -------------------------------- Diary section -------------------------------- */
.serviceContainer .diaryItemWrapper {
	width: 20rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	justify-content: center;
}

.serviceContainer .diaryItemWrapper > img {
	width: 100%;
	border-radius: 12px;
	object-fit: cover;
	object-position: center;
	height: 25rem;
}

.serviceContainer .diaryItemWrapper .diaryTitle {
	font-size: 1.5rem;
	color: #7fb640;
	font-weight: bold;
}

.serviceContainer .diaryItemWrapper .description {
	color: #707070;
}

.serviceContainer .diaryItemWrapper .readMore {
	color: #7fb640;
	text-decoration: underline;
	cursor: pointer;
}

/* -------------------------------- Advise form section -------------------------------- */
.advise {
	margin: 8rem auto;
	padding: 0 5rem;
	display: flex;
	flex-wrap: nowrap;
	align-content: center;
	max-width: 1400px;
	justify-content: space-between;
}

.advise .adviseTitle {
	font-size: 4rem;
	width: 45%;
	font-weight: bold;
}

.advise .adviseTitle > p > span:last-child {
	color: #7fb640;
}

.advise .adviseTitle > p:last-child {
	color: #707070;
	font-weight: normal;
	font-size: 1.3rem;
}

.advise .adviseForm {
	width: 50%;
}
